<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <meta name="description" content="NathanDoesMuch: The official portfolio and social media accounts for Nathaniel Moore." />
    <meta name="author" content="NathanDoesMuch">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>NathanDoesMuch: Nathaniel Moore</title>
    <link rel="stylesheet" type="text/css" href="../static/css/fonts/hk-grotesk/style.css">
    <link rel="stylesheet" type="text/css" href="../static/css/fonts/fontello/css/fontello.css">
    <link rel="stylesheet" type="text/css" href="../static/css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700" rel="stylesheet">


    <!-- Favicons -->
    <link rel="icon" type="image/png" href="../static/images/profile.jpeg" sizes="32x32">
    <link rel="icon" type="image/png" href="../static/images/profile.jpeg" sizes="128x128">
    <link rel="icon" type="image/png" href="../static/images/profile.jpeg" sizes="192x192">
    <link rel="shortcut icon" type="image/png" href="../static/images/profile.jpeg" sizes="196x196">
    <link rel="apple-touch-icon" href="../static/images/profile.jpeg" sizes="152x152">
    <link rel="apple-touch-icon" href="../static/images/profile.jpeg" sizes="180x180">
    <meta name="application-name" content="nathandoesmuch.com"/>

    <!-- App theme -->
    <meta name="theme-color" content="#142933" />
    <meta name="msapplication-navbutton-color" content="#142933">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    <!-- Facebook -->
    <meta property="og:title" content="NathanDoesMuch: Nathaniel Moore">
    <meta property="og:description" content="NathanDoesMuch: The official portfolio and social media accounts for Nathaniel Moore.">
    <meta property="og:image" content="profile.jpeg">
    <meta property="og:image:type" content="image/png">
    <meta property="og:author" content="NathanDoesMuch">
    <meta property="article:author" content="NathanDoesMuch">
    <meta property="og:site_name" content="NathanDoesMuch: Nathaniel Moore">
    <meta property="og:type" content="article">
    <meta property="og:url" content="https://www.nathandoesmuch.com">

    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@NathanDoesMuch">
    <meta name="twitter:creator" content="@NathanDoesMuch">
    <meta name="twitter:title" content="NathanDoesMuch: Nathaniel Moore">
    <meta name="twitter:description" content="NathanDoesMuch: The official portfolio and social media accounts for Nathaniel Moore.">
    <meta name="twitter:image:src" content="profile.jpeg">


    <style>
		body { background-color: #142933; }
		h1 { font-family: 'Playfair Display', cursive; font-weight: 400; }
    </style>
</head>

<body class="is-text-light is-text-align-center">
    <div class="content-wrap">
        <div class="content">
            <img class="profile-image rounded" src="https://pbs.twimg.com/profile_images/985627206666915840/PfdThPEU_400x400.jpg" alt=""/>
            <h1>
                <span id="typed"></span>
                <div id="typed-strings" style="display: none;">
                    Damn, That's crazy.
                </div>
            </h1>
            <h3>If you'd like to follow me, I'm on
            	<a class="link-1 aqua" target="_blank" href="https://www.twitter.com/NathanDoesMuch">Twitter</a>,
                <a class="link-1 blue" target="_blank" href="https://www.instagram.com/NathanDoesMuch">Instagram</a>,
                <a class="link-1 yellow" target="_blank" href="https://www.snapchat.com/add/NathanDoesMuch">Snapchat</a>, and
                <a class="link-1 navy" target="_blank" href="https://www.linkedin.com/in/nathandoesmuch/">Linkedin</a>.

            </h3>
        </div>
    </div>
	<script src="../static/js/main.js"></script>
</body>
</html>
